.defaultContainer {
  max-width: 1400px;
  margin: 0 auto;
}

.titleSection {
  @extend .defaultContainer;
  margin-top: 20px;
}

.cardsContainer {
  @extend .defaultContainer;
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
