.success {
  display: flex;
  align-items: center;
  max-width: 400px;
  padding: 20px;
  background-color: var(--light-green);
  gap: 10px;
}

.red {
  background-color: var(--light-red);
}
.yellow {
  background-color: var(--light-yellow);
}
.blue {
  background-color: var(--light-blue);
}
