.defaultContainer {
  max-width: 1400px;
  margin: 0 auto;
}
.tabIndexes {
  @extend .defaultContainer;
  width: 100%;
  border-bottom: 1px solid var(--dark-white);
  display: flex;
  justify-content: flex-start;
}

.tabIndex {
  @media (max-width: 768px) {
    flex: 1;
  }
  border-bottom: none;
  padding: 15px 30px;
  &.active {
    background-color: var(--dark-white);
  }
  &:hover {
    cursor: pointer;
    background-color: var(--white-50);
  }
}

.buttonContainer {
  @extend .defaultContainer;
  margin-top: 20px;
  text-align: right;
}
