:root {
  --light-green: #a5d6a7;
  --green: #4caf50;
  --light-black: #3d3d3d;
  --white: #ffffff;
  --dark-white: #e4e4e7;
  --black: #000000;
  --light-red: #ef9a9a;
  --light-yellow: #fff59d;
  --light-blue: #90caf9;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
.mainContainer {
  padding: 40px 0 40px 0;
  @media (max-width: 1600px) {
    padding-inline: 15px;
  }
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--light-black);
}

::selection {
  background: var(--light-green);
  color: var(--black);
}
