:root {
  --light-green: #a5d6a7;
  --green: #4caf50;
  --light-black: #3d3d3d;
  --white: #ffffff;
  --dark-white: #d1d1d6;
  --white-50: #f2f2f2;
  --white-100: #9e9e9e;
  --black: #000000;
  --light-red: #ef9a9a;
  --red: #f44336;
  --light-yellow: #fff59d;
  --yellow: #ffeb3b;
  --light-blue: #90caf9;
  --blue: #2196f3;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
  height: 100%;
}
.mainContainer {
  padding: 40px 0 40px 0;
  @media (max-width: 1600px) {
    padding-inline: 15px;
  }
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--light-black);
}

::selection {
  background: var(--light-green);
  color: var(--black);
}

/* Scrollbar Customization */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Main viewport scrollbar */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: var(--light-black);
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: var(--white-100);
}

::-webkit-scrollbar-track {
  background: var(--white-50);
}

::-webkit-scrollbar-thumb {
  background: var(--white-100);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--light-black);
}
