* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
.mainContainer {
  padding: 40px 0 40px 0;
  @media (max-width: 1400px) {
    padding-inline: 15px;
  }
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3d3d3d;
}
