.textarea {
  padding: 20px;
  border: 1px solid #e4e4e7;
  font-size: 16px;
  font-family: inherit;
  // expading x-axis to fill the parent container
  width: 100%;
  box-sizing: border-box;
  resize: none;
}
