.container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100dvh - 80px);
  padding-inline: 15px;
  max-width: 400px;
  margin: 0 auto;

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.link {
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  color: var(--light-black);
  &:hover {
    text-decoration: underline;
    color: var(--green);
  }
}
.terms {
  color: var(--black);
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    color: var(--green);
  }
}
.checkboxContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
