.button {
  background-color: transparent;
  padding: 20px;
  border: 1px solid var(--light-black);
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    color: #fff;
    background-color: var(--light-black);
  }
}

.small {
  padding: 7px;
  font-size: 12px;
}

.medium {
  padding: 13px;
}

.large {
  font-size: 16px;
}

.blue {
  border-color: var(--blue);
  color: var(--blue);
  &:hover {
    background-color: var(--blue);
  }
}

.green {
  border-color: var(--green);
  color: var(--green);
  &:hover {
    color: #fff;
    background-color: var(--green);
  }
}
.dark-green {
  border-color: var(--dark-green);
  color: var(--dark-green);
  &:hover {
    color: #fff;
    background-color: var(--dark-green);
  }
}
.red {
  color: var(--red);
  border-color: var(--red);
  &:hover {
    color: #fff;
    background-color: var(--red);
  }
}
.yellow {
  border-color: var(--yellow);
  color: var(--yellow);
  &:hover {
    color: #fff;
    background-color: var(--yellow);
  }
}
.primary {
  border-color: var(--light-black);
  &:hover {
    color: #fff;
    background-color: var(--light-black);
  }
}
