.select {
  width: 100%;
  padding: 20px;
  border: 1px solid #e4e4e7;
  font-size: 16px;
  font-family: inherit;
  cursor: pointer;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  padding-right: 40px;
}

.small {
  padding: 7px;
  font-size: 12px;
}

.medium {
  padding: 13px;
}

.large {
  font-size: 16px;
}
